div {
    width: 100px;
    height: 100px;
    background-color:red;
   animation-name: colorchange;
   animation-duration: 3s;
   animation-delay: 3s;
   position: relative;
    /* animation-iteration-count: 3; */
   animation-iteration-count: infinite;
   /* ager ham chahtai hain ki aha se end ho rhi aniimation vhqa se start ho  uske liye ham animation direction de sakhtai hai */
   animation-direction: reverse;
   /* ager aapko alternatives direction dena hjain tou uske liye aap  alternates- relatives ka use kar sakhtai hain */

}

/* @keyframes colorchange{
    from{
         background-color:aqua;
         top:0px;
       left:0px;

        }
       to{ background-color:yellow;
        top:200px;
       left:0px;
    }
} */


@keyframes colorchange{
    0%{
        background-color: blue;
        top:0px;
        left:0px;
    }

   25%{
    background-color: blue;
        top:0px;
        left:200px;
   } 

    50%{
    background-color: black;
        top:200px;
        left:200px;
   } 

    75%{
    background-color: aquamarine;
        top: 200px;
        left:0px;
   } 
    100%{
    background-color: violet;
        top:0px;
        left:0px;
   } 
}
